{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 찾기 - PetMind</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
  <link rel="stylesheet" href="{% static 'css/petmind-search.css' %}" />
  <link rel="icon" href="{% static 'images/petmind_logo_dog.png' %}" type="image/png" />

</head>
<body>
  {% include 'common/header.html' %}

  <main class="container">
    <h1 class="title">비밀번호 찾기</h1>

    <div class="form-wrapper">
      <h2 class="form-title">이메일 입력</h2>
      <p class="form-desc">
        회원가입 시, 사용했던 이메일 주소를 입력해주세요.<br />
        해당 이메일 주소로 임시 비밀번호가 발송됩니다.
      </p>

      <form method="post" action="{% url 'user:find_password' %}">
        {% csrf_token %}
        <input 
          type="email" 
          name="email" 
          class="input-email {% if messages %}error{% endif %}" 
          placeholder="이메일 입력" 
          value="{{ email|default:'' }}" 
          required 
        />

        {% if messages %}
          {% for message in messages %}
            <p class="search-error-text">※ {{ message }}</p>
          {% endfor %}
        {% endif %}

        <button type="submit" class="btn-submit">임시 비밀번호 발급 요청</button>
      </form>
    </div>
  </main>

  {% if email_sent %}
  <script>
    alert("입력하신 이메일로 임시 비밀번호가 발송되었습니다.");
    window.location.href = "/";
  </script>
  {% endif %}
</body>
</html>
