{% load static %}

<header class="chat-header">
  <link href="https://cdn.jsdelivr.net/npm/spoqa-han-sans@2.1.2/css/SpoqaHanSans.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/chat_report_feedback.css' %}">

  <div class="chat-header-inner">
    {% if not hide_sidebar_button %}
      <button id="sidebarToggle" class="chat-sidebar-btn header-sidebar-toggle">
        <img src="{% static 'images/sidebar.png' %}" alt="사이드바 열기">
      </button>
    {% else %}
      <div style="width: 40px;"></div>
    {% endif %}

    {% if is_guest %}
      <a href="{% url 'chat:main' %}" class="chat-logo">PetMind</a>
    {% else %}
      <a href="{% url 'chat:chat_member' dog.id %}" class="chat-logo">PetMind</a>
    {% endif %}

    
    {% if not hide_report_button %}
      {% include 'chat/chat_report_feedback.html' %}
    {% endif %}

    {% if is_guest %}
      <div class="chat-user-menu">
        <img src="{% static 'images/petmind_logo_dog.png' %}" class="chat-user-icon" id="chatUserIcon" alt="비회원 아이콘">
      </div>
    {% else %}
      <div class="chat-user-menu">
        {% if dog.profile_image %}
          <img src="{{ dog.profile_image.url }}" class="chat-user-icon" id="chatUserIcon" alt="회원 아이콘">
        {% else %}
          <img src="{% static 'images/petmind_logo_dog.png' %}" class="chat-user-icon" id="chatUserIcon" alt="기본 회원 아이콘">
        {% endif %}
      </div>
    {% endif %}
  </div>
</header>

<script src="{% static 'js/chat_report_feedback.js' %}"></script>
