.chat-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #FFFFF6;
  padding: 12px 24px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.chat-header-inner {
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
}

.chat-sidebar-btn {
background-color: transparent;
border: none;
padding: 4px;
cursor: pointer;
}
.chat-sidebar-btn img {
width: 20px;
height: 20px;
}

.chat-logo {
position: absolute;
left: 10%;
transform: translateX(-50%);
font-family: 'Leckerli One', cursive;
font-size: 27px;
color: #F7AE05;
text-decoration: none;
}

.chat-user-menu {
position: relative;
}
.chat-user-icon {
width: 45px;
height: 45px;
cursor: pointer;
border-radius: 50%;
}

.chat-dropdown-menu {
display: none;
flex-direction: column;
position: absolute;
right: 0;
top: calc(100% + 10px);
background-color: #FFFFF6;
border: 1px solid #9e9e9e;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
font-family: 'Spoqa Han Sans Neo', sans-serif;
font-size: 14px;
width: 220px;
z-index: 1000;
padding: 0;
}

.chat-dropdown-menu.show {
display: flex;
}

.chat-user-email {
font-size: 13px;
color: #2B2104;
padding: 10px 16px;
border-bottom: 1px solid #ddd;
word-break: break-all;
white-space: normal;
}

.chat-dropdown-menu a {
padding: 12px 16px;
color: #2B2104;
text-decoration: none;
font-size: 13px;
display: block;
}

.chat-dropdown-menu a:hover {
background-color: #E3EFFF;
}

.chat-main {
  padding-top: 72px;
}

@media (max-width: 768px) {
  .chat-logo {
    position: static;
    margin-left: 15%;   
    margin-right: auto;
  }

  .chat-header-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .chat-user-menu {
    margin-left: auto;
  }

}
