body {
  margin: 0;
  background-color: #FFFFF6;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  box-sizing: border-box;
}

.title,
.page-title {
  font-size: 35px;
  font-weight: bold;
  color: #2B2104;
  letter-spacing: -0.02em;
  margin-bottom: 60px;
}

.form-wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.form-title,
.section-title,
.confirm-title {
  font-size: 18px;
  font-weight: bold;
  color: #2B2104;
  margin-bottom: 10px;
}

.form-desc,
.desc,
.confirm-desc {
  font-size: 14px;
  color: #333;
  margin-bottom: 24px;
  line-height: 1.6;
}

.input-email,
.input-username {
  width: 100%;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.input-email.error {
  margin-bottom: 0;
}

.notice {
  font-size: 12px;
  color: #999;
  margin-top: -10px;
  margin-bottom: 24px;
}

.btn-submit,
.btn-login {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #FFC508;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-submit:hover,
.btn-login:hover {
  background-color: #eab508;
}

.username-box {
  width: 100%;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: 24px;
  box-sizing: border-box;
  text-align: left;
}

.search-error-text {
  font-size: 13px;
  color: #e53935;
  font-weight: 400;
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 100%;
    padding: 24px 16px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .form-title,
  .form-desc {
    text-align: center;
  }

  .title,
  .page-title {
    font-size: 28px;
  }
}